<img src="<TMPL_VAR LOGO_ICON>" alt="Cam Thumbnail" />

<div id="notifblock">
	<!-- NOTIFICATIONS //-->
	<TMPL_VAR NOTIFICATIONS>
	<!-- NOTIFICATIONS //-->
</div>

<div>
	<form method="post" data-ajax="false" id="main_form">
		<input type="hidden" id="saveformdata" value="1">
		<p><TMPL_VAR CC.HEADER_TEXT></p>
		<select id="CAM_LIST" data-mini="false"><TMPL_VAR CAM_LIST></select>
		<button id="create_cam" data-role="button" data-inline="true"
			data-mini="true" data-icon="plus"
			><TMPL_VAR CC.BUTTON_CREATE_CAM></button>
		<div>
			<a id="gobackB0" data-role="button" data-inline="true"
				data-mini="true" data-icon="delete" href="/admin/system/"
				><TMPL_VAR CC.CANCEL_TEXT></a>
			<button id="saveTopB" type="submit" data-role="button"
				data-inline="true" data-mini="true" data-icon="check"
				><TMPL_VAR CC.SAVE_TEXT></button>
		</div>

		<div id="no_cam_headline"><TMPL_VAR CC.NO_CONFIGURED_CAMS_TEXT></div>
		<div id="cam_headline"><TMPL_VAR CC.CONFIGURED_CAMS_TEXT></div>

<TMPL_LOOP NAME="CAMDATA">

		 <!-- Loop for camera <TMPL_VAR CAMNO> //-->
		 <div class="camdiv" id="camdiv<TMPL_VAR CAMNO>">
			 <div>
				<span class="camno">#<TMPL_VAR CAMNO></span>
				<button class="jump2CamSelect" data-role="button"
					data-inline="true" data-mini="true" data-icon="arrow-u"
					><TMPL_VAR CC.CAM_SELECTION_SCROLL></button>
				<button id="camDelete<TMPL_VAR CAMNO>" data-role="button"
					data-inline="true" data-mini="true" data-icon="delete"
					><TMPL_VAR CC.BUTTON_DELETE_CAM></button>
				<div style="display:table;">
					<div style="display:table-row;">
						<div style="display:table-cell;">
							<label id="label_CAM_NAME<TMPL_VAR CAMNO>"><TMPL_VAR CC.CAM_NAME_TEXT></label>
							<input data-validation-error-msg="<TMPL_VAR CC.CAM_NAME_HINT>" data-validation-rule="special:alphanumeric-accented-ws" id="CAM_NAME<TMPL_VAR CAMNO>" type="text" class="textfield" placeholder="<TMPL_VAR CC.CAM_NAME_SUGGESTION>" value="<TMPL_VAR CAM_NAME>">
						</div>
					</div>
					<div style="display:table-row;">
						<div style="display:table-cell;">
							<label id="label_CAM_NOTE<TMPL_VAR CAMNO>"><TMPL_VAR CC.CAM_NOTE_TEXT></label>
							<input data-validation-error-msg="<TMPL_VAR CC.CAM_NOTE_HINT>" data-validation-rule="^([A-Za-z0-9_-\s\(\)\.\,\:\;\/]){0,32}$" id="CAM_NOTE<TMPL_VAR CAMNO>" type="text" class="textfield" placeholder="<TMPL_VAR CC.CAM_NOTE_SUGGESTION>" value="<TMPL_VAR CAM_NOTE>">
						</div>
					</div>
					<div style="display:table-row;">
						<div style="display:table-cell;">
							<label id="label_CAM_MODEL<TMPL_VAR CAMNO>"><TMPL_VAR CC.CAM_MODEL_TEXT></label>
							<select id="CAM_MODEL<TMPL_VAR CAMNO>" data-mini="false" required>
								<option value=''><TMPL_VAR CC.CAM_MODEL_SELECT_CAM_TEXT></option>
								<TMPL_VAR cam_model_list>
							</select>
						</div>
					</div>
					<div style="display:table-row;">
						<div style="display:table-cell;">
							<label id="label_CAM_HOST_OR_IP<TMPL_VAR CAMNO>"><TMPL_VAR CC.CAM_HOST_TEXT></label>
							<input data-validation-error-msg="<TMPL_VAR CC.CAM_HOST_HINT>" data-validation-rule="special:hostname_or_ipaddr" id="CAM_HOST_OR_IP<TMPL_VAR CAMNO>" type="text" class="textfield" placeholder="<TMPL_VAR CC.CAM_HOST_SUGGESTION>" value="<TMPL_VAR CAM_HOST_OR_IP>">
							<label id="label_CAM_PORT<TMPL_VAR CAMNO>"><TMPL_VAR CC.CAM_PORT_TEXT></label>
							<input data-validation-error-msg="<TMPL_VAR CC.CAM_PORT_HINT>" data-validation-rule="special:ipport" id="CAM_PORT<TMPL_VAR CAMNO>" type="text" class="textfield" placeholder="<TMPL_VAR CC.CAM_PORT_SUGGESTION>" value="<TMPL_VAR CAM_PORT>">
						 </div>
					</div>
					<div style="display:table-row;">
						<div style="display:table-cell;">
							<label id="label_CAM_USER<TMPL_VAR CAMNO>"><TMPL_VAR CC.CAM_USER_TEXT></label>
							<input id="CAM_USER<TMPL_VAR CAMNO>" type="text" class="textfield" placeholder="<TMPL_VAR CC.CAM_USER_SUGGESTION>" value="<TMPL_VAR CAM_USER>">
						 </div>
					</div>
					<div style="display:table-row;">
						<div style="display:table-cell;">
							<label id="label_CAM_PASS<TMPL_VAR CAMNO>"><TMPL_VAR CC.CAM_PASS_TEXT></label>
							<input id="CAM_PASS<TMPL_VAR CAMNO>" type="text" class="textfield" value="<TMPL_VAR CAM_PASS>">
						 </div>
					</div>
					<div style="display:table-row;">
						<div style="display:table-cell;">
							 <select id="CAM_IMAGE_RESIZE<TMPL_VAR CAMNO>" data-mini="false">
								<option value="9999" ><TMPL_VAR CC.IMAGE_RESIZE_TEXT> <TMPL_VAR CC.IMAGE_RESIZE_ORIGINAL_TEXT></option>
								<option value="240" ><TMPL_VAR CC.IMAGE_RESIZE_TEXT> 240px</option>
								<option value="320" ><TMPL_VAR CC.IMAGE_RESIZE_TEXT> 320px</option>
								<option value="640" ><TMPL_VAR CC.IMAGE_RESIZE_TEXT> 640px</option>
								<option value="720" ><TMPL_VAR CC.IMAGE_RESIZE_TEXT> 720px</option>
								<option value="1024"><TMPL_VAR CC.IMAGE_RESIZE_TEXT> 1024px</option>
								<option value="1280"><TMPL_VAR CC.IMAGE_RESIZE_TEXT> 1280px</option>
								<option value="1600"><TMPL_VAR CC.IMAGE_RESIZE_TEXT> 1600px</option>
								<option value="1920"><TMPL_VAR CC.IMAGE_RESIZE_TEXT> 1920px</option>
								<option value="0" ><TMPL_VAR CC.IMAGE_RESIZE_JUST_TEXT></option>
							 </select>
						 </div>
					</div>
					<div style="display:table-row;">
						<div style="display:table-cell;">
							<input id="WATERMARK_checkbox<TMPL_VAR CAMNO>" type="checkbox" <TMPL_VAR WATERMARK_VAL>><label id="WATERMARK_LABEL<TMPL_VAR CAMNO>" for="WATERMARK_checkbox<TMPL_VAR CAMNO>"><TMPL_VAR CC.WATERMARK_TEXT></label>
							<input id="WATERMARK<TMPL_VAR CAMNO>" type="hidden" value="<TMPL_VAR WATERMARK>">
						 </div>
					</div>
					<div style="display:table-row;">
						<div style="display:table-cell;">
							<input type="checkbox" id="CAM_EMAIL_USED_CB_checkbox<TMPL_VAR CAMNO>" <TMPL_VAR CAM_EMAIL_USED_CB_VAL>><label id="CAM_EMAIL_USED_LABEL<TMPL_VAR CAMNO>" for="CAM_EMAIL_USED_CB_checkbox<TMPL_VAR CAMNO>"><TMPL_VAR CC.CAM_EMAIL_USED_TEXT></label>
							<input id="CAM_EMAIL_USED_CB<TMPL_VAR CAMNO>" type="hidden" value="<TMPL_VAR CAM_EMAIL_USED_CB>">
							<div style="display:table;">
								<div style="display:table-row;">
									<div style="display:table-cell; width:auto;">
										 <div class="cam_email<TMPL_VAR CAMNO> subpanel">
											<table>
												<tr class="cam_email<TMPL_VAR CAMNO>">
													<td>
														<label id="label_CAM_RECIPIENTS<TMPL_VAR CAMNO>"><TMPL_VAR CC.CAM_RECIPIENTS_TEXT></label>
														<input data-validation-error-msg="<TMPL_VAR CC.CAM_RECIPIENTS_HINT>" 			data-validation-rule="special:emails" 					id="CAM_RECIPIENTS<TMPL_VAR CAMNO>" 	type="text" class="textfield" placeholder="<TMPL_VAR CC.EMAIL_RECIPIENTS_SUGGESTION>" value="<TMPL_VAR CAM_RECIPIENTS>">
													</td>
												</tr>
												<tr class="cam_email<TMPL_VAR CAMNO>">
													<td>
														<label><TMPL_VAR CC.EMAIL_FROM_NAME_TEXT></label>
														<input data-validation-error-msg="<TMPL_VAR CC.EMAIL_FROM_NAME_VALIDATION>" 	data-validation-rule="special:alphanumeric-accented-ws" id="CAM_EMAIL_FROM_NAME<TMPL_VAR CAMNO>" type="text" class="textfield" placeholder="<TMPL_VAR CC.CAM_EMAIL_SENDER_SUGGESTION>" value="<TMPL_VAR CAM_EMAIL_FROM_NAME>">
													</td>
												</tr>
												<tr class="cam_email<TMPL_VAR CAMNO>">
													<td>
														<label><TMPL_VAR CC.EMAIL_SUBJECT_TEXT></label>
														<table>
															<tr style="vertical-align:bottom;">
																<td>
																	<input data-validation-error-msg="<TMPL_VAR CC.EMAIL_SUBJECT1_VALIDATION>" 		data-validation-rule="^([a-zA-Z0-9\[\;\,\]\(\)\?\!\_\-\.\s\u00C0-\u017F])*$" 		id="CAM_EMAIL_SUBJECT1<TMPL_VAR CAMNO>" 	type="text" class="textfield" placeholder="<TMPL_VAR CC.CAM_EMAIL_SUBJECT1_SUGGESTION>" 	value="<TMPL_VAR CAM_EMAIL_SUBJECT1>">
																</td>
																<td>
																	<input data-validation-error-msg="<TMPL_VAR CC.EMAIL_DATE_FORMAT_VALIDATION>" 	data-validation-rule="^([\slNSwFnjymdYMD\.\-\/]){1,16}$" 		id="CAM_EMAIL_DATE_FORMAT<TMPL_VAR CAMNO>" 	type="text" class="textfield" placeholder="<TMPL_VAR CC.CAM_EMAIL_DATE_FORMAT_SUGGESTION>" 	value="<TMPL_VAR CAM_EMAIL_DATE_FORMAT>">
																</td>
																<td>
																	<input data-validation-error-msg="<TMPL_VAR CC.EMAIL_SUBJECT2_VALIDATION>" 		data-validation-rule="^([a-zA-Z0-9\[\;\,\]\(\)\?\!\_\-\.\s\u00C0-\u017F])*$" 		id="CAM_EMAIL_SUBJECT2<TMPL_VAR CAMNO>" 	type="text" class="textfield" placeholder="<TMPL_VAR CC.CAM_EMAIL_SUBJECT2_SUGGESTION>" 	value="<TMPL_VAR CAM_EMAIL_SUBJECT2>">
																</td>
																<td>
																	<input data-validation-error-msg="<TMPL_VAR CC.EMAIL_TIME_FORMAT_VALIDATION>" 	data-validation-rule="^([\saABgGhHisT\:\.\-\/]){1,16}$" 		id="CAM_EMAIL_TIME_FORMAT<TMPL_VAR CAMNO>" 	type="text" class="textfield" placeholder="<TMPL_VAR CC.CAM_EMAIL_TIME_FORMAT_SUGGESTION>" 	value="<TMPL_VAR CAM_EMAIL_TIME_FORMAT>">
																</td>
																<td>
																	<input data-validation-error-msg="<TMPL_VAR CC.EMAIL_SUBJECT3_VALIDATION>" 		data-validation-rule="^([a-zA-Z0-9\[\;\,\]\(\)\?\!\_\-\.\s\u00C0-\u017F])*$" 		id="CAM_EMAIL_SUBJECT3<TMPL_VAR CAMNO>" 	type="text" class="textfield" placeholder="<TMPL_VAR CC.CAM_EMAIL_SUBJECT3_SUGGESTION>" 	value="<TMPL_VAR CAM_EMAIL_SUBJECT3>">
																</td>
															</tr>
														</table>
													</td>
												</tr>
												<tr class="cam_email<TMPL_VAR CAMNO>">
													<td>
														<label><TMPL_VAR CC.EMAIL_BODY_TEXT></label>
														<input data-validation-rule="^(.*){1,255}$" data-validation-error-msg="<TMPL_VAR CC.EMAIL_BODY_VALIDATION>" id="CAM_EMAIL_BODY<TMPL_VAR CAMNO>" type="text" class="textfield" placeholder="<TMPL_VAR CC.CAM_EMAIL_BODY_SUGGESTION>" value="<TMPL_VAR CAM_EMAIL_BODY>">
													</td>
												</tr>
												<tr class="cam_email<TMPL_VAR CAMNO>">
													<td>
														<label><TMPL_VAR CC.EMAIL_SIGNATURE_TEXT></label>
														<input data-validation-error-msg="<TMPL_VAR CC.EMAIL_SIGNATURE_VALIDATION>" data-validation-rule="^([a-zA-Z0-9\s\-\_\<\/\>\&\;\:\.\,\?\!\+\(\)\#]*){1,1024}$" type="text" class="textfield" id="CAM_EMAIL_SIGNATURE<TMPL_VAR CAMNO>" placeholder="<TMPL_VAR CC.CAM_EMAIL_SIGNATURE_SUGGESTION>" value="<TMPL_VAR CAM_EMAIL_SIGNATURE>">
													</td>
												</tr>
												<tr class="cam_email<TMPL_VAR CAMNO>">
													<td>
														<select id="CAM_EMAIL_RESIZE<TMPL_VAR CAMNO>" data-mini="false">
															<option value="9999" ><TMPL_VAR CC.EMAIL_RESIZE_TEXT> <TMPL_VAR CC.EMAIL_RESIZE_ORIGINAL_TEXT></option>
															<option value="240" ><TMPL_VAR CC.EMAIL_RESIZE_TEXT> 240px</option>
															<option value="320" ><TMPL_VAR CC.EMAIL_RESIZE_TEXT> 320px</option>
															<option value="640" ><TMPL_VAR CC.EMAIL_RESIZE_TEXT> 640px</option>
															<option value="720" ><TMPL_VAR CC.EMAIL_RESIZE_TEXT> 720px</option>
															<option value="1024"><TMPL_VAR CC.EMAIL_RESIZE_TEXT> 1024px</option>
															<option value="1280"><TMPL_VAR CC.EMAIL_RESIZE_TEXT> 1280px</option>
															<option value="1600"><TMPL_VAR CC.EMAIL_RESIZE_TEXT> 1600px</option>
															<option value="1920"><TMPL_VAR CC.EMAIL_RESIZE_TEXT> 1920px</option>
															<option value="0" ><TMPL_VAR CC.IMAGE_RESIZE_JUST_TEXT></option>
														</select>
													</td>
												</tr>
												<tr class="cam_email<TMPL_VAR CAMNO>">
													<td>
														<input type="checkbox" id="CAM_EMAIL_INLINE_CB_checkbox<TMPL_VAR CAMNO>" <TMPL_VAR CAM_EMAIL_INLINE_CB_VAL>>
														<label id="CAM_EMAIL_INLINE_LABEL<TMPL_VAR CAMNO>" for="CAM_EMAIL_INLINE_CB_checkbox<TMPL_VAR CAMNO>"><TMPL_VAR CC.EMAIL_INLINE_TEXT></label>
														<input id="CAM_EMAIL_INLINE_CB<TMPL_VAR CAMNO>" type="hidden" value="<TMPL_VAR CAM_EMAIL_INLINE_CB>">
													</td>
												</tr>
												<tr class="cam_email<TMPL_VAR CAMNO>">
													<td>
														<input type="checkbox" id="CAM_NO_EMAIL_CB_checkbox<TMPL_VAR CAMNO>" <TMPL_VAR CAM_NO_EMAIL_CB_VAL>>
														<label id="CAM_NO_EMAIL_LABEL<TMPL_VAR CAMNO>" for="CAM_NO_EMAIL_CB_checkbox<TMPL_VAR CAMNO>"><TMPL_VAR CC.NO_MAIL_TEXT></label>
														<input id="CAM_NO_EMAIL_CB<TMPL_VAR CAMNO>" type="hidden" value="<TMPL_VAR CAM_NO_EMAIL_CB>">
													</td>
												</tr>
												<tr class="cam_email<TMPL_VAR CAMNO>">
													<td>
														<select id="CAM_EMAIL_MULTIPICS<TMPL_VAR CAMNO>" data-mini="false">
															<option value="10" ><TMPL_VAR CC.CAM_EMAIL_MULTIPICS_TEXT_PIC_PRE> 1 <TMPL_VAR CC.CAM_EMAIL_MULTIPICS_TEXT_PIC_SUF1></option>
															<option value="21" ><TMPL_VAR CC.CAM_EMAIL_MULTIPICS_TEXT_PIC_PRE> 2 <TMPL_VAR CC.CAM_EMAIL_MULTIPICS_TEXT_PIC_SUFn> 1 <TMPL_VAR CC.CAM_EMAIL_MULTIPICS_TEXT_TIME1></option>
															<option value="22" ><TMPL_VAR CC.CAM_EMAIL_MULTIPICS_TEXT_PIC_PRE> 2 <TMPL_VAR CC.CAM_EMAIL_MULTIPICS_TEXT_PIC_SUFn> 2 <TMPL_VAR CC.CAM_EMAIL_MULTIPICS_TEXT_TIMEn></option>
															<option value="23" ><TMPL_VAR CC.CAM_EMAIL_MULTIPICS_TEXT_PIC_PRE> 2 <TMPL_VAR CC.CAM_EMAIL_MULTIPICS_TEXT_PIC_SUFn> 3 <TMPL_VAR CC.CAM_EMAIL_MULTIPICS_TEXT_TIMEn></option>
															<option value="24" ><TMPL_VAR CC.CAM_EMAIL_MULTIPICS_TEXT_PIC_PRE> 2 <TMPL_VAR CC.CAM_EMAIL_MULTIPICS_TEXT_PIC_SUFn> 4 <TMPL_VAR CC.CAM_EMAIL_MULTIPICS_TEXT_TIMEn></option>
															<option value="31" ><TMPL_VAR CC.CAM_EMAIL_MULTIPICS_TEXT_PIC_PRE> 3 <TMPL_VAR CC.CAM_EMAIL_MULTIPICS_TEXT_PIC_SUFn> 1 <TMPL_VAR CC.CAM_EMAIL_MULTIPICS_TEXT_TIME1></option>
															<option value="32" ><TMPL_VAR CC.CAM_EMAIL_MULTIPICS_TEXT_PIC_PRE> 3 <TMPL_VAR CC.CAM_EMAIL_MULTIPICS_TEXT_PIC_SUFn> 2 <TMPL_VAR CC.CAM_EMAIL_MULTIPICS_TEXT_TIMEn></option>
															<option value="33" ><TMPL_VAR CC.CAM_EMAIL_MULTIPICS_TEXT_PIC_PRE> 3 <TMPL_VAR CC.CAM_EMAIL_MULTIPICS_TEXT_PIC_SUFn> 3 <TMPL_VAR CC.CAM_EMAIL_MULTIPICS_TEXT_TIMEn></option>
															<option value="34" ><TMPL_VAR CC.CAM_EMAIL_MULTIPICS_TEXT_PIC_PRE> 3 <TMPL_VAR CC.CAM_EMAIL_MULTIPICS_TEXT_PIC_SUFn> 4 <TMPL_VAR CC.CAM_EMAIL_MULTIPICS_TEXT_TIMEn></option>
															<option value="41" ><TMPL_VAR CC.CAM_EMAIL_MULTIPICS_TEXT_PIC_PRE> 4 <TMPL_VAR CC.CAM_EMAIL_MULTIPICS_TEXT_PIC_SUFn> 1 <TMPL_VAR CC.CAM_EMAIL_MULTIPICS_TEXT_TIME1></option>
															<option value="42" ><TMPL_VAR CC.CAM_EMAIL_MULTIPICS_TEXT_PIC_PRE> 4 <TMPL_VAR CC.CAM_EMAIL_MULTIPICS_TEXT_PIC_SUFn> 2 <TMPL_VAR CC.CAM_EMAIL_MULTIPICS_TEXT_TIMEn></option>
															<option value="43" ><TMPL_VAR CC.CAM_EMAIL_MULTIPICS_TEXT_PIC_PRE> 4 <TMPL_VAR CC.CAM_EMAIL_MULTIPICS_TEXT_PIC_SUFn> 3 <TMPL_VAR CC.CAM_EMAIL_MULTIPICS_TEXT_TIMEn></option>
															<option value="44" ><TMPL_VAR CC.CAM_EMAIL_MULTIPICS_TEXT_PIC_PRE> 4 <TMPL_VAR CC.CAM_EMAIL_MULTIPICS_TEXT_PIC_SUFn> 4 <TMPL_VAR CC.CAM_EMAIL_MULTIPICS_TEXT_TIMEn></option>
														</select>
													</td>
												</tr>
											</table>
										</div>
										<hr>
										<TMPL_VAR CC.LOXONE_CONFIG_TEXT>
										<p class="loxCamUrl">http://<TMPL_VAR HTTP_HOST><TMPL_VAR HTTP_PATH>/?cam=<span><TMPL_VAR CAMNO></span></p>
										<a id="btntest<TMPL_VAR CAMNO>" data-role="button" data-inline="true" data-mini="true" data-icon="refresh" href="#"><TMPL_VAR CC.TEST_TEXT></a>
										<span id="btntestsavehint<TMPL_VAR CAMNO>"><TMPL_VAR CC.CAM_SAVE_BEFORE_TEST></span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div>
				<a class="goBackB" data-role="button" data-inline="true" data-mini="true" data-icon="delete" href="/admin/system/"><TMPL_VAR CC.CANCEL_TEXT></a>
				<button class="saveB" type="submit" data-role="button" data-inline="true" data-mini="true" data-icon="check"><TMPL_VAR CC.SAVE_TEXT></button>
			</div>
		</div>
</TMPL_LOOP>
		<div>
			<div id='logArea'>
				<TMPL_VAR CC.LOG_AREA> (<TMPL_VAR CC.LOGLEVEL><TMPL_VAR LOGLEVEL>)
				<div id="delete_log_div" style="display:table-cell">
					<button id="delete_log_btn" data-role="button" data-inline="true" data-mini="true">
						<span><TMPL_VAR CC.LOG_BUTTON_DELETE></span>
						<span><TMPL_VAR CC.LOG_BUTTON_DELETE_WAIT></span>
						<span><TMPL_VAR CC.LOG_BUTTON_DELETE_OK></span>
						<span><TMPL_VAR CC.LOG_BUTTON_DELETE_FAIL></span>
					</button>
					<a id='logview' target='_blank' href='/admin/system/tools/logfile.cgi?logfile=<TMPL_VAR LOGFILE>&amp;header=html&amp;format=template' data-role="button" data-inline="true" data-mini="true"><TMPL_VAR CC.LOG_BUTTON_VIEW></a>
				</div>
			</div>
		</div>
	</form>
</div>
<div class="version"><TMPL_VAR VERSION></div>
